.record-box{
    padding:0px 18px;
}
.section-li{
  position: relative;
  font-size: 15px;
  color:#323232;
  padding:10px 0px;

}
.section-li:after{
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
}
.record-line{
    position:relative;
    font-size:15px;
    color:#323232;
    padding: 12px 0px;
    line-height: 23px;
}
.line{
    position: relative;
}
.datatime{
  position: relative;
  color:#aeaeae;
  font-size:12px;
  line-height:20px;
}
.datatime .right,.line .right{
    position: absolute;
    top:0px;
    right:0px;
}
.status{
  font-size: 12px;
  color:#FFA200;
}
.status1{
  font-size: 12px;
  color:rgb(47, 255, 168);
}
.status2{
  font-size: 12px;
  color:#FF5F78;
}