 .swiper-box {
    width: 90%;
    margin: auto;
  }

  .swiper1 {
    height: 198px;
    border-radius: 12px;
    overflow: hidden;
  }

  .swiper_container {
    position: relative;
    height: 33px;
    line-height: 33px;
    padding: 0px 18px;
  }

  .slide-image1 {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
  }

  .swiper_content {
    width: 300px;
    height: 33px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 35px;
  }

  .swiper_item {
    font-size: 13px;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 2px;
  }

  .swiper_item text {
    vertical-align: middle;
    letter-spacing: 0px;
  }

  .weui-search-bar {
    border: none;
    background: #ffffff;
    line-height: 50px;
    height: 50px;
    padding: 0px 10px;
  }

  .weui-search-address {
    color: #666666;
    margin-right: 12px;
  }

  /* .weui-search-bar__label {
    background: #f4f4f4;
    border-radius: 50px;
    text-align: left;
    padding-left: 14px;
    margin: 0px;
    top: 0px;
  } */
  .weui-search-bar__label {
    background: #f4f4f4;
    border-radius: 50px;
    text-align: left;
    padding-left: 14px;
    margin: 0px;
    top: 50%;
    height: 30px;
    line-height: 30px;
    transform: translate(0%,-50%);
  }

  /* .weui-form {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    height: 30px;
    line-height: 30px;
    top:10px;
  } */
  .weui-form {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
  }


  .weui-search-bar__text {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
  }

  .weui-search-bar:after {
    border: none;
  }

  .navigator {
    padding: 0px 15px;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  .navigator-line {
    width: 20%;
    padding: 0px 0px;
  }

  .btn-area-img {
    width: 60px;
    height: 60px;
  }

  .btn-area-name {
    text-align: center;
    color: #323232;
    height: 24px;
  }

  .section2 {
    padding: 12px 20px 5px;
  }

  .section2 .content {
    box-shadow: 0px 0px 2px 2px #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .title {
    position: relative;
    color: #504f4f;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  .section2-img {
    position: relative;
    width: 100%;
    height: 198px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .section-txt1 {
    padding: 6px 10px 0px;
  }

  .section2-l {
    float: left;
    font-size: 16px;
    line-height: 23px;
    color: #323232;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  .section-txt1:after {
    content: " ";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }

  .section-txt2 {
    color: #AEAEAE;
    font-size: 12px;
    float: right;
    line-height: 37px;
  }

  .section2-l1 {
    float: left;
  }

  .section2-r1 {
    float: right;
  }

  .section-txt2:after {
    content: " ";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }

  .section-txt3 {
    padding: 0px 10px;
  }

  .section2-l2 {
    float: left;
    color: #FF5F78;
    font-size: 16px;
    line-height: 35px;
  }

  .section2-l3 {
    float: left;
    color: #aeaeae;
    font-size: 12px;
    line-height: 37px;
    text-decoration: line-through;
    margin-left: 5px;

  }

  .section2-r2 {
    position: relative;
    float: right;
    height: 44px;
    margin-right: -11px;
  }

  .section2-r2 .text {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    color: #ffffff;
    line-height: 39px;
    text-align: center;
    width: 88px;
  }

  .section-txt3:after {
    content: " ";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }

  .section2-address {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #ffffff;
    background: linear-gradient(to right, #ff7791, #ff5971);
    line-height: 26px;
    padding: 0px 12px;
    border-bottom-right-radius: 10px;
  }

  .minutemen {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 30px;
  }

  /* ������ */
  .section2-img__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 1;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
  }

  .finish {
    position: absolute;
    width: 105px;
    height: 59px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .weui-banner {
    display: flex;
    flex-wrap: wrap;
  }

  .weui-banner-img {
    width: 50%;
  }

  .banner {
    width: 100%;
    height: 100%;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
  }

  /* ���˰��� */
  .weui-award__warp {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    flex-wrap: wrap;
  }

  .weui-award__warp .content {
    width: 48%;
    box-shadow: 0px 0px 2px 2px #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .weui-award__warp .title {
    color: #323232;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  .weui-award__warp .section2-img {
    position: relative;
    width: 100%;
    height: 98px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .weui-award__warp .section-txt1 {
    padding: 6px 10px 0px;

  }

  .weui-award__warp .section2-l {
    float: left;
    font-size: 10px;
    color: #323232;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .weui-award__warp .section-txt1:after {
    content: " ";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }

  .weui-award__warp .section-txt2 {
    color: #AEAEAE;
    font-size: 6px;
    padding: 3px 10px 0px;
  }

  .weui-award__warp .section2-l1 {
    float: left;
  }

  .weui-award__warp .section2-r1 {
    float: right;
  }

  .weui-award__warp .section-txt2:after {
    content: " ";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }

  .weui-award__warp .section-txt3 {
    position: relative;
    height: 35px;
  }

  .weui-award__warp .section2-l2 {
    float: left;
    color: #FF5F78;
    font-size: 12px;
    line-height: 40px;
  }

  .weui-award__warp .section2-l3 {
    float: left;
    color: #aeaeae;
    font-size: 12px;
    line-height: 37px;
    text-decoration: line-through;
    margin-left: 5px;
  }

  .weui-award__warp .section2-r2 {
    position: relative;
    top: 3px;
    float: right;
    height: 44px;
    margin-right: -11px;
  }

  .weui-award__warp .section2-r2 .text {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 8px;
    color: #ffffff;
  }

  .weui-award__warp .section-txt3:after {
    content: " ";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }

  .weui-award__warp .section2-address {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #ffffff;
    background: linear-gradient(to right, #ff7791, #ff5971);
    line-height: 26px;
    padding: 0px 12px;
    border-bottom-right-radius: 10px;
  }

  .weui-award__warp .section-icon {
    position: relative;
    left: 10px;
    font-size: 12px;
    height: 44px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
  }

  .weui-award__warp.section-num {
    padding: 0px 10px 0px 50px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
  }

  .weui-stroll__num {
    color: #FF5F78;
    font-size: 14px;
    line-height: 35px;
  }

  .weui-stroll__num1 {
    color: #aeaeae;
    font-size: 11px;
    line-height: 37px;
    text-decoration: line-through;
    margin-left: 5px;
  }

  .tabBar {
    position: fixed;
    width: 100%;
    border-top: 1px solid #dddddd;
    font-size: 12px;
    color: #cccccc;
    bottom: 0;
    background: #ffffff;
    padding: 6px 0px;
    z-index: 999;
  }

  .tabBar-item {
    width: 25%;
    float: left;
    text-align: center;
    overflow: hidden;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .tabBar-item div {
    line-height: 15px;
  }

  [v-cloak] {
    display: none;
  }


  .code-title {
    text-align: center;
    padding: 20px 0px;
    font-size: 13px;
  }

  .am-code {
    position: fixed;
    padding: 30px 0px 0px;
    top: 50%;
    left: 50%;
    width: 80%;
    font-size: 15px;
    background: #ffffff;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
  }

  .am-code-img {
    text-align: center;
  }

  .am-img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 8px;
    top: 8px;

  }

  .mask, .mask1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 1;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
  }
  .nav_phone{
    text-align:center;
    background:#ffffff;
    padding:12px 0px;
  }
  /* 今日推荐 */
.recommend{
  padding: 16px 20px 0px;
}
.recommend-num{
  position: absolute;
  top:0px;
  right:20px;
  font-weight:400;
  color:#202020;
  font-size:15px;
}
.recommend-box{
  overflow:hidden;
  line-height:26px;
  margin:0px 5px;
  box-shadow: 0px 0px 2px 2px #f4f4f4;
  border-radius: 10px;
}
.recommend-img{
  position: relative;
  width:100%;
  height:178px;
}
.recommend-title{
  font-size: 16px;
  padding:0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.recommend-txt{
  padding:0px 10px;
  font-size:14px;
  color:#979797;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 热销 */
.scroll-view_H{
  width:100%;
  white-space:nowrap;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
/* .hot-box{
  display:flex;
  justify-content:space-between;
  padding:0px 20px;
  flex-wrap:wrap;
} */
.hot-more{
  position:absolute;
  top:0px;
  right:0px;
  font-size:14px;
  color:#aaaaaa;
  font-weight:100;
}
.hot-line{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  overflow:hidden;
  display:inline-block;
}
.hot-img{
  position: relative;
  width:100%;
  height: 110px;
}
.hot-address{
  position:absolute;
  top:0;
  left:0;
  font-size:12px;
  color:#ffffff;
  background:linear-gradient(to right,#ff7791 , #ff5971);
  line-height:26px;
  padding:0px 12px;
  border-bottom-right-radius:10px;
}
.hot-title{
  font-size:12px;
  color:#323232;
  line-height:18px;
  height:36px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  margin-top:5px;
  white-space:pre-wrap;


}
.hot-sale{
  position:relative;
  color:#f58441;
  font-size:16px;
  font-weight:bold;
  height:35px;
  line-height:35px;
}
.hot-label{
  position:absolute;
  top:9px;
  text-align:center;
  width:45px;
  height:18px;
  line-height:18px;
  right:0px;
}
.hot-sale-original{
  color:#aeaeae;
  font-size:12px;
  line-height:37px;
  text-decoration:line-through;
  margin-left:5px;
  font-weight:100;
}
.discount{
  position:absolute;
  top:0px;
  left:0px;
  width:48px;
  color:#ffffff;
  font-size:12px;
  text-align:center;
  line-height:18px;
  height: 18px;
  display:inline-block;
}
.hot-nav{
  height:120px;
  width:100%;
  padding:0px 18px;
  box-sizing: border-box;
  overflow:hidden;
  margin:5px 0px 0px;
}
.tab-box{
  display: flex;
  justify-content:space-between;
  padding:12px 18px;
}
.tab{
  position:relative;
  color:#aaaaaa;
  font-size:16px;
  display:inline-block;
  line-height:30px;
  height:30px;
}
.active-line{
  position: absolute;
  width:24px;
  left: 50%;
  margin-left: -12px;
  bottom:2px;
  display:inline-block;
  height:1px;
  background:#FF5F78;
}
.active{
  color:#202020;
}

.label{
  position:relative;
  display:inline-block;
  margin-left:12px;
  top:10px;
  text-align:center;
  width:45px;
  height: 18px;
  line-height:18px;
}
.tab-box{
  display: flex;
  justify-content:space-between;
  padding:12px 18px;
}
.tab{
  position:relative;
  color:#aaaaaa;
  font-size:16px;
  display:inline-block;
  line-height:30px;
  height:30px;
}
.active-line{
  position: absolute;
  width:24px;
  left: 50%;
  margin-left: -12px;
  bottom:2px;
  display:inline-block;
  height:1px;
  background:#FF5F78;
}
.active{
  color:#202020;
}
/* .swiper3 .swiper-slide{
  width: 90% !important;
  margin: 0 5%;
} */
/* 商品弹框 */
.task{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000000;
  z-index:999999;
  opacity:0.6;
  -moz-opacity:0.6;
  filter:alpha(opacity=60);
}
.task-con{
  position:fixed;
  width:85%;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  z-index:9999999;
  border-radius: 12px;
}
.task-con .closeTask{
  width: 30px;
  height: 30px;
}
.task-title{
  background: linear-gradient(to right, #FF5C71 , #FF758E);
  font-size: 20px;
  color:#ffffff;
  line-height: 48px;
  text-align: center;
  border-radius:12px 12px 0px 0px;
}
.task-banner{
	width:100%;
}
.task-name{
  font-size: 16px;
  color: #202020;
  line-height: 23px;
  margin: 6px auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.task-num{
  padding:0px 18px;
  position: relative;
  background: #F5F5F5;
  color:#F72443;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  box-sizing:border-box;
  border-radius:20px;
  margin-top: 10px;
}
.task-original{
  color: #AAAAAA;
  font-size: 12px;
  line-height: 40px;
  text-decoration: line-through;
  font-weight: 100;
  padding-left: 10px;
}
.task-btn-box{
  padding:20px 0px;
  text-align: center;
}
.task-btn{
  display: inline-block;
  width:40%;
  background: linear-gradient(to right, #FD566D , #FF6F83);
  font-size: 16px;
  color:#ffffff;
  line-height:36px;
  text-align: center;
  border-radius:8px;
	border:none;
  box-shadow: 0px 0px 1px 1px #FD566D;
}
.top{
	display: block;
}
.weui-award__null{
  text-align: center;
  color:#aaaaaa;
  font-size: 16px;
  padding:20px 0px 10px;
  flex:1;
  line-height: 32px;
}
.image-null{
  width:200px;
  height: 148px;
}
.active-img{
  position:fixed;
  right:10px;
  top:56%;
  width:70px;
  height:70px;
  transform:translate(0%,-50%);
  z-index: 999999;
}