<script src="__PUBLIC__/hplus/static/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/hplus/static/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/hplus/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__PUBLIC__/hplus/static/js/hplus.js"></script>

<script src="__PUBLIC__/hplus/static/js/plugins/pace/pace.min.js"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>-->
<!--<script src="__PUBLIC__/index/js/vue.js"></script>-->
<!--<script src="__PUBLIC__/index/js/axios.js"></script>-->
<!--<script src="__PUBLIC__/index/js/qs.js"></script>-->
<!--<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>-->
<script src="__PUBLIC__/hplus/static/js/plugins/layui/layui.js" charset="utf-8"></script>
